body{
    background-color: #121212;
}

h1 {
    font-family: Arial;
    color: #515151;
    text-align: center;
    display: block;
    padding: 25px;
}

h2{
    font-family: Arial;
    color: #515151;
    text-align: center;
    display: block;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

span {
    display: block;
    background-color: black;
    border-radius: 25px;
    margin: 25px 25%;
    
}
audio {
    display: flex;
    margin: auto;
}

